@import "constants";
.card{
  width: 30rem;
  min-height: 15rem;
  border-radius: 7px;
  background: #3b3b3b;
  color: #ccc;
  padding: 1rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media #{$media-mobile} {
    width: 25rem;
  }
  &__type {
    text-align: right;
    font-size: 115%;
  }
  &__number {
    font-size: 135%;
  }
  &__owner {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
}
