@import "constants";

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  &:hover,
  &:focus,
  &:active {
    color: $blue;
    border-color: $blue;
  }
  &__container{

  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__content{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    @media #{$media-mobile} {
      flex-direction: column;
      text-align: center;
    }
  }
  &__name{
    padding-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__number{
    min-width: 10rem;
    @media #{$media-mobile} {
      min-width: auto;
      margin-top: 0.5rem;
    }
  }
}
