@import "constants";
html {
  @media #{$media-desktop}{
    font-size: 12px;
  }
  @media #{$media-mobile} {
    font-size: 10px;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
  background-color: $blue;
    .nav {
      display: flex;
      color: #fff;
      &__link, &__link:hover{
        color: #fff;
        padding: 1rem;
        font-size: 1.3rem;
        text-decoration: none;
        &.active {
          text-decoration: underline;
        }
      }
    }
}
.page__title{
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

